<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>How to Create The Simplest Blog | Statie - Modern and Simple Static Site Generator in PHP</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" sizes="64x64" href="/assets/img/icon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/themes/prism.min.css" integrity="sha256-DJJDQyzflMYiUb2jX3gilm9m3gAkHPC4WLv9BAk4rTE=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
	<link rel="stylesheet" href="/assets/css/styles.css?202004071218">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/prism.min.js" integrity="sha256-hK55yYjZp3vXqUhowkWYVaoavcWSYRR6fE8sgHqyt5A=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/components/prism-bash.min.js" integrity="sha256-SCZNeXkzfrzH5HaOFT+SJ3dAe+lfCvSX0kC1e2HH8mc=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/components/prism-php.min.js" integrity="sha256-YiD4iV/2ItR7G+/f9kSqSxPn/7TYqX9vFxKdZ8mcx5w=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/components/prism-yaml.min.js"
	integrity="sha256-aKpS5lS6EuYfqhnxcX2EHcTiqoL6zIbLtM0UAVNmue4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-twig.min.js" integrity="sha256-zLGURZSfopdiruX4pMd0uHs7xPYisO2tS+W7J3FeDsU=" crossorigin="anonymous"></script>
</head>

<body>
	<div class="bg-grey-darkest p-4 text-yellow-dark shadow-inner" style="position: sticky; top: 0; z-index: 10;"><span class="uppercase text-white font-bold">Notice:</span> Statie <a href="https://www.tomasvotruba.com/blog/2020/03/09/art-of-letting-go/" class="text-yellow">is deprecated</a> as of March 2020. You can switch to <a href="https://www.tomasvotruba.com/blog/2020/03/16/statie-is-dead-long-live-symfony-static-dumper/" class="text-yellow">Symfony Static Dumper</a>.</div>

<header class="header max-w-xl mx-auto py-4 sm:py-8 px-4">
	<nav role="navigation" class="text-xl">
		<ul class="nav list-reset sm:flex items-center text-center flex-wrap">
			<li class="logo mb-4 sm:mb-0"><a href="/"><img src="/assets/img/logo.svg" alt=""></a></li>
			<li class="sm:ml-8 inline-block"><a href="/docs/getting-started/" class="nav__link">docs</a></li>
			<li class="ml-4 inline-block"><a href="/tutorials/simple-blog/" class="nav__link nav__link--active">tutorial</a></li>
			<li class="ml-4 inline-block"><a href="/community/" class="nav__link">community</a></li>
			<li class="ml-4 inline-block"><a href="https://github.com/Symplify/Statie" class="nav__link">github</a></li>
			<li class="w-full sm:w-auto sm:float-right text-sm flex flex-1 justify-end mt-4 sm:mt-0"><input type="text" placeholder="search" class="search__input p-2 rounded w-full sm:w-24 md:w-32"></li>
		</ul>
	</nav>
</header>


	<main role="main" class="main bg-white">
		<div class="max-w-xl mx-auto py-8 px-4">
				<h1 class="text-grey-darker">How to Create The Simplest Blog</h1>
	<h2>Create a Blog Page</h2>
<p>This might be the simplest page to show all your posts:</p>
<pre><code class="language-twig">&lt;!-- /source/blog.twig --&gt;

---
layout: "_layouts/default.twig"
---

{% block content %}
    &lt;h2&gt;Shouts Too Loud from My Hearth&lt;/h2&gt;

    {% for post in posts %}
        &lt;a href="/{{ post.relativeUrl }}/"&gt;
            &lt;h3&gt;{{ post.title }}&lt;/h3&gt;
        &lt;/a&gt;
    {% endfor %}
{% endblock %}</code></pre>
<h3>You already see</h3>
<ul>
<li>that all posts are in stored in <code>posts</code> variable</li>
<li>that every post has <code>relativeUrl</code></li>
<li>that every post should have a <code>title</code> (optional, but recommended)</li>
</ul>
<h2>How Does it Work?</h2>
<p>Statie will do 3 steps:</p>
<ol>
<li><strong>Scans <code>/source/_posts</code> for any files</strong>
<ul>
<li>those files have to be in <code>YYYY-MM-DD-url-title.md</code> format</li>
<li>that's how Statie can determine the date</li>
</ul></li>
<li><strong>Converts Markdown and TWIG/Latte syntax to HTML</strong></li>
<li>Stores them to <code>posts</code> variable.</li>
</ol>
<h2>How does a Post Content Look Like?</h2>
<pre><code class="language-html">&lt;!-- source/_posts/2017-03-05-my-last-post.md --&gt;

---
title: "This my Last Post, Ever!"
---

This is my last post to all</code></pre>
<h3>How to Show Post in Own Layout</h3>
<p>Posts use <code>_layouts/post.twig</code> by default. It should include the common parts for all layouts - like header, menu or footer.</p>
<pre><code class="language-twig">&lt;!-- /source/_layouts/post.twig --&gt;

{% include "_snippets/header.twig" %}

{% block content %}
    &lt;h2&gt;{{ post.title }}&lt;/h2&gt;

    {{ post.content|raw }}
{% endblock %}

{% include "_snippets/footer.twig" %}</code></pre>
<p>That should be it.</p>
<p>Save file, <a href="http://localhost:8000/blog">look on the blog page</a> and see:</p>
<p><img src="/data/statie-blog.png" alt="Statie blog" /></p>
<p>When you click a post title:</p>
<p><img src="/data/statie-post.png" alt="Statie post" /></p>
<h3>ProTip: Change Post Url</h3>
<p>You see the url for the post is <code>blog/2017/03/05/my-last-post/</code>.</p>
<p>This <strong>can be changed by configuration</strong> in <code>statie.yml</code>:</p>
<pre><code class="language-yaml">parameters:
    generators:
        posts:
            route_prefix: "my-blog/:year" # "blog/:year/:month/:day" by default</code></pre>
<p>That produces <code>my-blog/2017/my-last-post/</code> url.</p>
<p>Got it? I know you do! <strong>You are smart.</strong></p>
<h2>Now You Know</h2>
<ul>
<li><strong>That all posts are placed in <code>/source/_posts</code> directory and in <code>$posts</code> variable</strong>.</li>
<li>That post has to be in <strong>named as <code>YYYY-MM-DD-title.md</code> format</strong></li>
<li>That you can change the post generated url in <code>statie.yml</code> in <code>parameters &gt; generators &gt; posts &gt; route_prefix</code>.</li>
</ul>
<p>Happy coding!</p>
		</div>
	</main>

	
<div class="bg-grey-light">
	<div class="max-w-xl mx-auto p-4 text-right text-sm text-grey-darker">
		Want to make a suggestion? <a href="https://github.com/crazko/statie-web" class="text-grey-darkest">Help us improve</a> the content.
	</div>
</div>

<footer role="contentinfo" class="footer text-center p-4 text-white">
	<p>Thanks to all the <a href="https://github.com/Symplify/Statie/graphs/contributors">contributors</a> &copy; 2020, <a href="https://github.com/Symplify/Statie/blob/master/LICENSE" class="text-white">MIT License</a></p>
	<p class="uppercase text-xs mt-2">Runs on Statie, obviously 🤓</p>
</footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4520387-28"></script>
<script>
	// Disable when running locally
	if (window.location.hostname === 'localhost') {
		window['ga-disable-' + "UA-4520387-28"] = true;
	}

	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', "UA-4520387-28");
</script>

<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script>
	docsearch({
		apiKey: "6ea3c9a817ba6a2f43a7e096348563b2",
		indexName: 'statie',
		inputSelector: '.search__input',
		debug: true // Set debug to true if you want to inspect the dropdown
	});
</script>
</body>
</html>
