<nav role="navigation" class="text-xl">
	<ul class="nav list-reset">
		<li class="nav__item"><a href="{$site['url']}" n:class="nav__link, isset($page) && $page === 'index' ? nav__link--active">statie</a></li>
		<li class="nav__item"><a href="{$site['url']}docs/getting-started/" n:class="nav__link, isset($page) && $page === 'docs' ? nav__link--active">docs</a></li>
		<li class="nav__item"><a href="https://github.com/Symplify/Statie" class="nav__link">github</a></li>
		<li class="nav__item w-full sm:w-auto sm:float-right text-sm"><input type="text" placeholder="search" class="search__input my-2 p-2 rounded w-full sm:w-24 md:w-32"></li>
	</ul>
</nav>
