<!DOCTYPE html>
<html lang="en">
<head>
	{include "head"}
</head>
<body class="bg-teal-dark font-sans text-grey-darkest">
	<header class="header max-w-xl mx-auto py-8 px-4">
		{include "navigation"}
	</header>

	{ifset #hero}
		<div class="hero max-w-xl mx-auto py-8 px-4 text-white flex flex-col justify-end text-white relative">
			{include hero}
		</div>
	{/ifset}

	<main role="main" class="main bg-white">
		<div class="max-w-xl mx-auto py-8 px-4">
			{block content}{/block}
		</div>
	</main>

	{block subcontent}{/block}

	<footer role="contentinfo" class="footer text-center  p-4 text-white">
		<p>Thanks to all the <a href="https://github.com/Symplify/Statie/graphs/contributors">contributors</a> &copy; {date('Y')}, <a href="https://github.com/Symplify/Statie/blob/master/LICENSE" class="text-white">MIT License</a></p>
		<p class="uppercase text-xs mt-2">Runs on Statie, obviously 🤓</p>
	</footer>

{include "scripts"}
</body>
</html>
