<!DOCTYPE html>
<html lang="en">
{include "_snippets/head.latte"}

<body>
	<div class="bg-grey-darkest p-4 text-yellow-dark shadow-inner"><span class="uppercase text-white font-bold">Notice:</span> Statie <a href="https://www.tomasvotruba.com/blog/2020/03/09/art-of-letting-go/" class="text-yellow">is deprecated</a> as of March 2020. You can switch to <a href="https://www.tomasvotruba.com/blog/2020/03/16/statie-is-dead-long-live-symfony-static-dumper/" class="text-yellow">Symfony Static Dumper</a>.</div>

	{include "_snippets/header.latte"}

	{ifset #hero}
		<div class="hero max-w-xl mx-auto py-8 px-4 text-white flex flex-col justify-end text-white relative">
			{include hero}
		</div>
	{/ifset}

	<main role="main" class="main bg-white">
		<div class="max-w-xl mx-auto py-8 px-4">
			{block maincontent}{/block}
		</div>
	</main>

	{block subcontent}{/block}

	{include "_snippets/footer.latte"}
</body>
</html>
