{extends "default"}

{var $page = 'docs'}

{block content}
<div class="flex">
	<aside class="sidebar">
		{include "docs-navigation", type => "basic"}
		{include "docs-navigation", type => "advanced"}
	</aside>

	<div class="content min-w-0">
		<h1 class="text-grey-darker">{$title}</h1>
		{$doc->getContent()|noescape}
	</div>
</div>
{/block}
